@tailwind base;
@tailwind components;
@tailwind utilities;

#nav-list > li {
  cursor: pointer;
  user-select: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .rotation-animation {
    rotate: 0deg;
    animation: rotation-animation 60s linear infinite;
  }
  @keyframes rotation-animation {
    to {
      rotate: 360deg;
    }
  }
} */

.register-anim {
  animation: loading 1s ease infinite;
}

@keyframes loading {
  0% {
    scale: 0;
  }
  25% {
    scale: 1;
  }
  50% {
    scale: 0;
  }
  100% {
    scale: 0;
  }
}